body {
  font-family: 'Playflair Display', serif;
  margin: 0;
  background-image: url("brooke-lark-wMzx2nBdeng-unsplash.jpg");
  background-size: cover;
}

/* Grid */
.content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  justify-items: center;
}

.landing {
  grid-area: 1/1/2/-1;;
}


.landing {
  text-align: center;

}

.landing img {
  opacity: 0.9;

}

.landing-text {
  color: white;
  background-color: rgba(0, 102, 34, 0.5);
  margin-top: 4em;
  padding: 2em;
  width: 90%;

}

.landing-text h1 {
  font-size: 5em;
  padding: 0px;
  margin: 0px;
  font-weight: 700;
  text-shadow: 2px 2px grey;

}

.landing-text h2 {
  font-size: 2.5em;
  margin: 0;
  padding: 0px;
  font-style: italic;
}

/* Form */
form {
  width: 100%;
  grid-area: 2/2/3/2;
}

form, input, label {
  padding-top: 5em;
}

label {
  font-size: 1.5em;
  color: black;
}

.results {
  grid-area: 3/2/-1/2;
}

#barcode, select {
  padding: 2em;
  margin-top: 2em;
}

#barcode {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#submit-button {
  width: 100%;
  background-color: #006622;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}




/* ========

EXTRA CSS

========
*/



#response-container{
  display: none;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 0.8em;
  width:100vw;
  height: 100vh;
}

#product-name{
  grid-column:5/15;
  grid-row:1/2;
}
.trafficLight {
  grid-column:2/7;
  grid-row:2/8;
  max-height: 70vh;
}
#heading{
  grid-column:9/20 ;
  grid-row:3/5;
}
#response-description{
  grid-column:9/20 ;
  grid-row:5/7;
}

.ingredients {
  grid-column:9/20 ;
  grid-row:7/9;
  text-transform: capitalize;
}
