body {
  font-family: 'Playflair Display', serif;
  margin: 0;
}

/* Grid */
.content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  background-image: url("brooke-lark-wMzx2nBdeng-unsplash.jpg");
  background-size: cover;
  justify-items: center;
}

.landing {
  grid-area: 1/1/2/-1;;
}


.landing {
  text-align: center;

}

.landing img {
  opacity: 0.9;

}

.landing-text {
  color: white;
  background-color: rgba(0, 102, 34, 0.5);
  margin-top: 4em;
  padding: 2em;
  width: 90%;

}

.landing-text h1 {
  font-size: 5em;
  padding: 0px;
  margin: 0px;
  font-weight: 700;
  text-shadow: 2px 2px grey;

}

.landing-text h2 {
  font-size: 2.5em;
  margin: 0;
  padding: 0px;
  font-style: italic;
}

/* Form */
.form {
  width: 100%;
  grid-area: 2/2/3/2;
}

.form, input, label {
  padding-top: 5em;
}

label {
  font-size: 1.5em;
  color: black;
}

.results {
  grid-area: 3/2/-1/2;
}

#barcode, select {
  padding: 2em;
  margin-top: 2em;
}

#barcode {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#submit-button {
  width: 100%;
  background-color: #006622;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}




/* ========

EXTRA CSS

========
*/



#response-container{
  display: none;
  background-image: url("https://images.unsplash.com/photo-1523878288860-7ad281611901?ixlib=rb-1.2.1&auto=format&fit=crop&w=1951&q=80");
  background-size: cover;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 0.8em;
  width:100vw;
  height: 100vh;
  font-family: Playflair Display;

}

#product-name{
  grid-column:1/6;
  grid-row:1/2;
  text-align: center;
}
.trafficLight {
  grid-column:1/3;
  grid-row:2/8;
  max-height: 70vh;
}

#heading{
  grid-column:3/6;
  grid-row:2/3;
}

#response-description{
  grid-column:3/6;
  grid-row:3/4;
}

.ingredients {
  grid-column:3/6;
  grid-row:7/8;
  text-transform: capitalize;
}

.product-image {
  grid-column: 3/6;
  grid-row: 4/7;
  max-height: 30vh;
}
