body {
  font-family: 'Playflair Display', serif;
  margin: 0;
}

/* Grid */
.content-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100vh;
  background-image: url("brooke-lark-wMzx2nBdeng-unsplash.jpg");
  background-size: cover;
  justify-items: center;
}

.landing {
  grid-area: 1/1/2/-1;
}


.landing {
  text-align: center;

}

.landing img {
  opacity: 0.9;

}

#landing-text {
  color: white;
  background-color: rgba(0, 102, 34, 0.5);
  margin: 50px;
  padding: 2em;
  width: 90%;
  justify-items: center;
  grid-area: 1/1/2/-1;

}

#logo {
  font-size: 4.5em;
  padding: 0px;
  margin: 0px;
  font-weight: 700;
  text-shadow: 2px 2px grey;

}

#tagline {
  font-size: 2.5em;
  margin: 0;
  padding: 0px;
  font-style: italic;
}

/* Form */
.form {
  width: 100%;
  grid-area: 2/2/3/2;
}

.form {
  padding: 20px;
}


label {
  font-size: 1.5em;
  color: black;
  padding-left: 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.results {
  grid-area: 3/2/-1/2;
}

select {
  padding: 30px;
  margin-top: 20px;
}

#barcode {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 30px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  line-height: 2;
}

option {
  font-size: 1.5em;
}

#submit-button {
  width: 100%;
  background-color: #006622;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


/* ========

EXTRA CSS

========
*/



#response-container{
  display: none;
  color: #282828;
  background-image: url("https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80");
  background-size: cover;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 0.8em;
  width:100vw;
  height: 100vh;

}

#product-name{
  font-size: 3em;
  margin-top: 1em;
  grid-column:1/6;
  grid-row:1/2;
  text-align: center;
}
.trafficLight {
  grid-column:1/3;
  grid-row:2/8;
  max-height: 70vh;
}


.can-i-eat {
  font-size: 2em; 
  font-weight: 700;
}

#heading{
  margin-top: 3.5em;
  font-size: 1.8em;
  grid-column:3/6;
  grid-row:2/3;
  font-weight: 700;
}

#response-description{
  font-size: 2em;
  grid-column:3/6;
  grid-row:3/4;
}

.ingredients {
  grid-column:3/6;
  grid-row:7/8;
  text-transform: capitalize;
  font-size: 1.2em;
}

.product-image {
  grid-column: 3/6;
  grid-row: 4/7;
  max-height: 30vh;
  border-radius: 6px;
  box-shadow: 3px 3px #282828;

}

.line {
  display: none;
  height: 0.5vh;
  width: 100vw;
  background-color: #4E4E50;
}

@media (max-width: 600px) {

  .can-i-eat {
    font-size: 1.3em;
  }

  #response-container {
    text-align: center;
    height: 100vh;
  }

  #product-name {
    grid-column: 1/6;
    grid-row: 1/2;

  }
  .trafficLight {
    grid-column: 1/6;
    grid-row: 3/6;
    max-height: 45vh;
  }

  #heading {
    grid-column: 1/6;
    grid-row: 2/3;
  }
  #response-description {
    margin-top: 1em;
    grid-column: 1/6;
    grid-row: 7;
    vertical-align: baseline;
  }
  .ingredients {
    grid-column: 1/6;
    grid-row: 7/8;
    text-transform: capitalize;
  }
  .product-image {
    display: none;
  }



  label {
    font-size: 1.5em;
  }

  #logo, #tagline {
    font-size: 2.2em;

  }
}